/* NAVIGATION */
nav {
    padding: 1.5em 1em;
    background-color: black;
}
h1 {
    font-size: 2em;
    color: var(--clr-primary);
}
.search-bar {
    border: 1px solid var(--clr-secondary);
    border-radius: 15px;
    padding: .5em 1em;
}
.search-bar input {
    color: white;

}

/* rating-stars */
.star-ratings-sprite {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    margin: 0 auto;

}
.star-ratings-sprite-rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display:block;
} 
