/* BODY */
body {
    background-color: var(--clr-secondary);
}

/* NAVIGATION */
nav {
    padding: 1.5em 1em;
    background-color: black;
}
h1 {
    font-size: 2em;
    color: var(--clr-primary);
}
.search-bar {
    border: 1px solid var(--clr-secondary);
    border-radius: 15px;
    padding: .5em 1em;
}
.search-bar input {
    color: white;

}
.filter {
    border: 1px solid var(--clr-secondary);
    border-radius: 15px;
    color: white;
}
.filter select{
    color: white;
}

/* MAIN */
.front {
    height: 100%;
}
.backdrop {
    object-fit: cover;
}
.retro .h2 {
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}
.retro {
    color: var(--clr-secondary);
    display: none;
}
.retro > * {
    text-align: center;
    padding: .25em 0;
}
.card {
    background-color: black;
    width: 342px;
    height: 300px;
    padding: 1em;
    margin: 1em;
}
.card > * {
    padding-bottom: .5em;
}
.card:hover .front{
    display: none;
}
.card:hover .retro{
    display: block;
}
/* rating-stars */
.star-ratings-sprite {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    margin: 0 auto;

}
.star-ratings-sprite-rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display:block;
} 

/* CAST */
.button {
    margin-top: 1em;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    background-color: var(--clr-secondary);
    border: 1px solid var(--clr-primary);
    padding: .5em 1em;
    text-align: center;
}

.cast-container {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
}