<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/frame.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title></title>
</head>
<body>
    <div id="root">
        <nav class="flex-row-between">
            <h1>BOOLFLIX</h1>
            <div class="search-bar"><input type="text" placeholder="search" v-model="searchedMovie" v-on:keyup.enter="searchMovie()"></div>
            <div class="filter">
                <select v-model="selectedGenre" v-on:change="selectGenre()">
                    <option value="all">all</option>
                    <option v-for="genre in fullGenresList" v-bind:value="genre.id">{{genre.name}}</option>
                </select>
            </div>
        </nav>
        <div class="container">
            <main class="deck">
                <ul class="flex-row-around">
                    <li class="card" v-for="movie in moviesFiltered">
                        <div class="front flex-row-center">
                            <img class="backdrop" :src="'https://image.tmdb.org/t/p/w342/' + movie.backdrop_path" alt="">
                        </div>
                        <div class="retro">
                            <div class="title">
                                <div v-if="movie.hasOwnProperty('original_name')"><span class="h2">Title: </span> {{movie.original_name}}</div>
                                <div v-else><span class="h2">Title: </span> {{movie.original_title}}</div>
                            </div>
                            <div class="flag">
                                <div v-if="movie.original_language === 'en'"><span class="h2">country</span> <img src="https://flagcdn.com/us.svg" width="30"></div>
                                <div v-else-if="movie.original_language === 'hi'"><span class="h2">Country</span> <img src="https://flagcdn.com/in.svg" width="30"></div>
                                <div v-else class="language"><span class="h2">Country: </span> <img :src="'https://flagcdn.com/' + movie.original_language + '.svg'" width="30" alt="flag not found"></div>
                            </div>
                            <div class="star-ratings-sprite"><span :style="{width: getStars(movie)}" class="star-ratings-sprite-rating"></span></div>
                            <div><span class="h2">overview: <br></span> {{renderOverview(movie)}}</div>
                            <div class="flex-row-center">
                                <button v-on:click="openInfo(movie)" class="button">see info</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </main>
            <div v-show="infoVisibility" class="cast-container flex-column-around">
                <div class="info">
                    <div class="cast">
                        <div class="title">cast</div>
                        <div v-for="actor in activeMovie.cast">{{actor.actor}} as: {{actor.character}}</div>
                    </div>
                    <div class="genres">
                        <div class="title">genre</div>
                        <div v-for="genre in activeMovie.genres">{{genre}}</div>
                    </div>
                </div>
                <div class="button-container flex-row-center">
                    <button class="button" v-on:click="closeInfo()">close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>